ADMINWEB_PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=define_a_strong_password_here
ADMIN_ROLE=SuperAdmin
POSTGRES_DB=opencredential_admin
POSTGRES_USER=opencredential
POSTGRES_PASSWORD=define_a_strong_database_password_here
